
h1{
    text-align: center;
}

p{
    color: rgb(59, 149, 228);
}

span{
    color: rgb(250, 123, 4);
}

article{
    background-color: antiquewhite;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
a:hover{
    color: rgb(243, 148, 4);
}

img{
    width: 400px;
}

button{
    border-radius: 10px;
    background-color: aquamarine;
}
button:hover{
    background-color: black;
    transition: 1s;
}

address{
    color: rgb(194, 124, 39);
}
